@use 'tailwindcss';
@use '@angular/material' as mat;
@use "tailwindcss/utilities";

:root {
  @include mat.button-overrides((
    filled-container-shape: 6px,
    outlined-container-shape: 6px,
    //background-color: #b98ecc
  ));
  @include mat.badge-overrides((
    background-color: pink,
  ));

  /* @include mat.button-overrides((
    container-color: #b98ecc,
    container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),
  )); */


  .container {
    @apply mx-auto max-w-screen-2xl;
  }

  .text-primary {
    @apply text-pink-700;
  }

  .match-input-height {
    height: var(--mat-form-field-container-height) !important;
  }

  .mdc-notched-outline__notch {
    border-right-style: none !important;
  }

  .snack-error {
    @include mat.snack-bar-overrides((
      button-color: white,
      container-color: red,
      supporting-text-color: white,
    ));
  }

  .snack-success{
    @include mat.snack-bar-overrides((
      button-color: white,
      container-color: green,
      supporting-text-color: white,
    ));
  }

  @layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
  }

  .mat-primary {
    color: #b98ecc;
  }

  .mat-button.mat-primary {
    background-color: #b98ecc;
  }
}
